<div>
   <h4>Contact Us</h4>
</div>

<div class="container">
    <div class="form-group">
       <label>Mobile No :</label>
       <input type="text" class="form-control" placeholder="+91"/>
    </div>
    <div class="form-group">
        <label>Email :</label>
        <input type="email" class="form-control" placeholder="Enter your email"/>
     </div>
     <div class="form-group">
       <button class="btn btn-success">Submit</button>
       <button class="btn btn-danger">Discard</button>

     </div>

</div>
