<div class="container" style="text-align: center;">
    <h5 style="background-color: rgb(248, 201, 250);">Assignment 4</h5>
    <div>
        <br><h6 >Selected Color : {{ColorType}}</h6>
        <!-- <button class="btn btn-danger" (click)="onSelect(11)">Red</button>
        <button class="btn btn-success" (click)="onSelect(22)">Green</button>
        <button class="btn btn-primary" (click)="onSelect(33)">Blue</button>
        <button class="btn btn-dark" (click)="onSelect(44)">Black</button> -->
        <button type="button" class="btn btn-outline-danger" (click)="onSelect(11)">Red</button>
        <button type="button" class="btn btn-outline-success" (click)="onSelect(22)">Green</button>
        <button type="button" class="btn btn-outline-primary" (click)="onSelect(33)">Blue</button>
        <button type="button" class="btn btn-outline-dark" (click)="onSelect(44)">Black</button>


    </div>
   
        
     

</div>
