<!-- <p>subcat works!</p>
<div class="row mt-5">
    <div class="col-md-6">
        <table>
            <th> Id</th>
            <th> product name</th>
            <th> Price</th>

            <tr *ngFor="let cat of catdata">
                <td>{{cat.id}}</td>
                <td>{{cat.productname}}</td>
                <td>{{cat.price}}</td>
                 <td><a class="btn btn-primary" 
                    [routerLink]="['/users/user/',users.userid, users.status]" [queryParams]="users">Select</a></td> 
                <td><a class="btn btn-primary "></a></td>
            </tr>
        </table>

    </div>



</div> -->
<div>
    <h5>Product Details </h5>
    <h5>Product  Name: {{ChildPara}}</h5>
    <h5>Status : {{paraStatus}}</h5>
</div>
