<div class="container" style="text-align: center;">
    <h5 style="background-color: rgb(238, 194, 247);">Assignment 1</h5><br>
    <div>
        <h6 [ngStyle]="{'color':colorSet}">Rahul</h6>
        <h6 [ngStyle]="{'color':colorSet}">Nidhi</h6>
        <h6 [ngStyle]="{'color':colorSet}">Radhika</h6>
        <h6 [ngStyle]="{'color':colorSet}">Anuj</h6>
        <h6 [ngStyle]="{'color':colorSet}">Karan</h6>
    </div><br>
    <div>
        <button class="btn btn-danger" style='margin-right:16px' (click)="onRed()">Red</button>
        <button class="btn btn-primary" style='margin-right:16px' (click)="onBlue()">Blue</button>
        <button class="btn btn-success" (click)="onGreen()">Green</button>
        
    </div>
</div>
