<div class="container" style="text-align: center;"><br><br>
   <h5>Original Text : {{Text}}</h5>
   <h6>Upper Case : {{Text | uppercase}}</h6>
   <h6>Lower Case : {{Text | lowercase}}</h6>
   <h6>Title Case: {{Text | titlecase}}</h6>
   <br><br>
   
   <h5>Training Fees : {{TrainingFees}}</h5>
   <h6>Training Fees in Rupees : {{TrainingFees | currency:'INR'}}</h6>
   <h6>Training Fees in Dollar : {{TrainingFees | currency:'USD'}}</h6>
   <h6>Training Fees in Eurp : {{TrainingFees | currency:'EUR'}}</h6>
   <br><br>

   <h5>Date : {{TodayDate}}</h5>
   <h5>Date(dd-MM-yyyy) : {{TodayDate | date:'dd-MM-yyyy'}}</h5>
   <h5>Date(dd-MMM-yyyy) : {{TodayDate | date:'dd-MMM-yyyy'}}</h5>

</div>
